*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root{
  --text-color: #2e2e2e;
  --text-highlight: #1e88e5;
  --section-color: #f0faff;
}

.container{
  position: absolute;
}

/* NAV START  */

.nav{
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(15px);
}

.logo{
  font-size: 2rem;
  font-weight: 500;
}

.nav-c ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-c ul li{
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.underline-animate {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.underline-animate::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--text-highlight);
  transition: width 0.3s ease;
}

.underline-animate:hover::after {
  width: 100%;
}

/* NAV END */

/* ABOUT START */

.about{
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about1{
  width: 25%;
}

.about1 h1{
  font-size: 3rem;
  color: var(--text-color);
}

.about1 span{
  color: var(--text-highlight);
}

.about1 p{
  font-size: 1.5rem;
}

.about2{
  /* width: 25%; */
}

.about2 video{
  height: 60vh;
  outline: none;
  border-radius: 10px;
}

/* ABOUT END */

/* BASIC START */

.part-start {
  padding-top: 7%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 4rem;
  position: relative;
  text-transform: capitalize;
  color: var(--text-highlight);
  cursor: pointer;
}

.basic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.basic-divs{
  width: 60%;
  padding: 20px;
  background-color: var(--section-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.basic-divs:hover{
  transform: scale(1.05);
}

.basic-divs p{
  font-size: 1.5rem;
}

.basic-divs ul li{
  font-size: 1.1rem;
  list-style: circle;
  margin-left: 20px;
  padding-top: 2px;
}

/* BASIC END */
/* DEMO START */

.demo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-c{
  width: 60%;
}

/* DEMO END */
/* ALERT START */

.alert{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.alert p{
  width: 70%;
  font-size: 1.5rem;
}

.bold{
  font-weight: 700;
  color: red;
}

/* ALERT END */
/* FOOTER START  */

.footer{
    width: 100%;
    height: 40vh;
    margin-top: 5%;
    padding: 70px 0px;
    background-color: var(--text-highlight);
}

.container2{
  width: 100%;
  display: flex;
  justify-content: center;
}

.row{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-col ul{
    list-style: none;
}

.footer-col{
    width: 30%;
    padding: 0px 25px;
}

.footer-col h4{
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--text-color);
    height: 2px;
    box-sizing: border-box;
    width: 90px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.357);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: var(--text-color);
    border-radius: 50%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}